# Project based .gitignore for fuse-ext2
# Ref: https://github.com/alperakcan/fuse-ext2

# macOS related files
**/.DS_Store

.cproject
.project
fs.ext2

# IDE: PhpStorm
.idea

# Ignore the below build artifacts from running...
# `autogen.sh` from the project root
**/*.cache/*
**/*.guess
**/*.in
**/*.log
**/*.m4
**/*.o
**/M4/*
**/.scan
**/*.sub
**/.deps/*
ar-lib
compile
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

**/Makefile
config.h
config.h.in~
config.status
fuse-ext2.pc

# macOS build artifacts
fuse-ext2/fuse-ext2
fuse-ext2/fuse-ext2.install
fuse-ext2/fuse-ext2.probe
fuse-ext2/fuse-ext2.uninstall
fuse-ext2/fuse-ext2.wait

# Xcode build & project artifacts
# Ref: https://github.com/github/gitignore/blob/master/Global/Xcode.gitignore
#
# Ignore Xcode user related project files
**/xcuserdata/*
**/build/*
**/DerivedData/*
!**/.gitkeep

# Build from scratch
!/build/macos-build-fuse-ext2-v0.0.10.sh
