.cproject
.project
fs.ext2

# IDE: PhpStorm
.idea

# Ignore the below build artifacts from running...
# `autogen.sh`
# in the project root
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.log
config.guess
config.h.in
config.sub
configure
depcomp
fuse-ext2/Makefine.in
install-sh
ltmain.sh
missing
tools/Makefile.in
tools/macosx/Makefile.in

# Ingore artifacts created by running...
#
# env CFLAGS="-idirafter/opt/gnu/include -idirafter/usr/local/include/osxfuse/" LDFLAGS="-L/opt/gnu/lib -L/usr/local//lib" ./configure
##
Makefile
config.h
config.status
fuse-ext2.pc
fuse-ext2/.deps/
fuse-ext2/Makefile
libtool
stamp-h1
tools/Makefile
tools/macosx/Makefile

# Ignore build artifacts when running `make` with the project root
##
# NOTE: all object files, ie. `.o`'s are placed within `fuse-ext2/fuse-ext2` dir
##
**/fuse-ext2
tools/macosx/prefpane/build
