<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>org.fuse-ext2.filesystems.ext2</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>fuse-ext2</string>
	<key>CFBundlePackageType</key>
	<string>fs  </string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>FSMediaTypes</key>
	<dict>
		<key>Linux</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>Linux</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>../../fuse-ext2.util</string>
			<key>FSProbeOrder</key>
			<integer>50</integer>
		</dict>
		<key>DOS_FAT_32</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>DOS_FAT_32</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>../../fuse-ext2.util</string>
			<key>FSProbeOrder</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>FSPersonalities</key>
	<dict>
		<key>fuse-ext2</key>
		<dict>
			<key>FSName</key>
			<string>fuse-ext2</string>
			<key>FSSubType</key>
			<integer>11</integer>
			<key>FSFormatContentMask</key>
			<string>Linux</string>
			<key>FSFormatArguments</key>
			<string>-f</string>
			<key>FSFormatExecutable</key>
			<string>../../fuse-ext2.util</string>
			<key>FSFormatMaximumSize</key>
			<integer>0</integer>
			<key>FSFormatMinimumSize</key>
			<integer>0</integer>
			<key>FSMountArguments</key>
			<string>-m</string>
			<key>FSMountExecutable</key>
			<string>../../fuse-ext2.util</string>
			<key>FSRepairArguments</key>
			<string>-y</string>
			<key>FSRepairExecutable</key>
			<string>../../fuse-ext2.util</string>
			<key>FSVerificationArguments</key>
			<string>-v</string>
			<key>FSVerificationExecutable</key>
			<string>../../fuse-ext2.util</string>
		</dict>
	</dict>
</dict>
</plist>
